<!DOCTYPE html>
<html lang="en">
<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<table class="table table-borderless">
    <tr>
        <td></td>
        <td><img src="http://lorempixel.com/250/250/nature/" class="rounded-circle"></td>
    </tr>
    <tr>
        <td>USERNAME</td>
        <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
        <td>PASSWORD</td>
        <td><input type="password" class="form-control"></td>
    </tr>
    <tr>
        <td></td>
        <td><Button class="btn btn-success">LOGIN</Button></td>
    </tr>
</table>
        </div>
    </div>
</div>
    
</body>
</html>